@use "../../common/mixins";

.user-info {
    display: grid;
    grid-column: 2 / 7;

    &__list {
        @include mixins.clear-list;

        display: flex;
        flex-direction: column;
        row-gap: 40px;
    }

    &__title {
        margin: 0;
        margin-bottom: 11px;
        line-height: normal;
    }

    &__description {
        margin: 0;
    }
}
