@use "../common/mixins";
@use "../common/vars";

.footer {
    @include mixins.container;

    display: flex;
    border-top: 1px solid vars.$main-black-color;

    &__navigation {
        grid-column: span 5;
        display: flex;
        width: 100%;
    }

    &__title {
        margin: 0;
        margin-bottom: 10px;
        line-height: normal;
    }

    &__list {
        @include mixins.clear-list;

        display: flex;
        flex-direction: column;
        row-gap: 8px;
        letter-spacing: normal;
        line-height: normal;
    }

    &__top {
        @include mixins.container;

        padding-top: 35px;
        padding-bottom: 58px;
    }

    &__bottom {
        display: flex;
        border-top: 1px dashed vars.$dark-gray-color;
        padding-top: 30px;
        padding-bottom: 32px;
    }
}

.about {
    margin-right: 64px;

    &__list {
        display: flex;
        column-gap: 39px;
    }

    &__link {
        @include mixins.clear-link;
    }
}

.help {
    margin-right: 74px;

    &__list {
        display: flex;
        column-gap: 38px;
    }

    &__link {
        @include mixins.clear-link;
    }
}

.catalog-info {
    margin-right: 28px;

    &__list {
        display: flex;
        column-gap: 34px;
    }

    &__link {
        @include mixins.clear-link;
    }
}

.contacts {
    display: flex;
    flex-direction: column;

    &__list {
        row-gap: 24px;
        letter-spacing: vars.$letter-spacing;
        line-height: 26px;
    }

    &__city {
        margin: 0;
        margin-bottom: 2px;
        font-size: 13px;
    }

    &__phone {
        @include mixins.clear-link;

        font-size: 24px;
        font-weight: 500;
    }
}

.socials {
    display: flex;
    align-items: center;
    margin-right: auto;

    &__list {
        @include mixins.clear-list;

        display: flex;
        align-items: center;
        column-gap: 30px;
    }

    &__icon {
        display: flex;
    }
}

.copyright,
.address {
    margin: 0;
    line-height: 22px;
}

.copyright {
    margin-right: 350px;
}
