@use "../common/mixins";
@use "../common/vars";

.header {
    width: 100%;
    display: flex;

    &__navigation {
        display: flex;
        justify-content: space-between;
        grid-column: span 5;
    }

    &__logo {
        margin-top: 19px;
        margin-bottom: 20px;
    }
}

.menu,
.user-menu {
    display: flex;
    text-align: center;
}

.menu__list,
.user-menu__list {
    margin: 0;
    padding: 0;
    display: flex;
}

.menu__item,
.user-menu__item {
    list-style: none;
    display: flex;
    text-align: center;
    justify-content: center;
}

.menu__link,
.user-menu__link {
    @include mixins.clear-link;

    text-transform: uppercase;
    line-height: normal;
}

.menu {
    &__list {
        column-gap: 58px;
    }

    &__link {
        display: flex;
        align-items: center;
        column-gap: 10px;
        color: vars.$main-black-color;
        font-size: 20px;
        font-weight: 400;
    }
}

.user-menu {
    &__list {
        column-gap: 40px;
    }

    &__btn {
        @include mixins.transparent-btn;

        display: flex;
        align-self: center;
        cursor: pointer;
    }
}
